<!DOCTYPE html>
<html lang="en-US" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sway-Pesa - Home</title>

    {% load static %}
    <!-- icofont-css-link -->
    <link rel="stylesheet" href="{% static 'theme/css/icofont.min.css' %}">
    <!-- Owl-Carosal-Style-link -->
    <link rel="stylesheet" href="{% static 'theme/css/owl.carousel.min.css' %}">
    <!-- Bootstrap-Style-link -->
    <link rel="stylesheet" href="{% static 'theme/css/bootstrap.min.css' %}">
    <!-- Aos-Style-link -->
    <link rel="stylesheet" href="{% static 'theme/css/aos.css' %}">
    <!-- Coustome-Style-link -->
    <link rel="stylesheet" href="{% static 'theme/css/style.css' %}">
    <!-- Responsive-Style-link -->
    <link rel="stylesheet" href="{% static 'theme/css/responsive.css' %}">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'theme/images/favicon.png' %}" type="image/x-icon">
    <link href="{% static 'assets/91b010c3/dist/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/site.css' %}" rel="stylesheet">
</head>

<body>
<!-- Page Wrapper -->
<div class="page_wrapper">
    <!-- Preloader -->
    <div id="preloader">
        <div id="loader"></div>
    </div>

    <!-- Header Start -->
    <header>
        <!-- container start -->
        <div class="container">
            <!-- navigation bar -->
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'theme/images/logo.png' %}" alt="Logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <span class="toggle-wrap">
                            <span class="toggle-bar"></span>
                        </span>
                    </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#features">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <div class="btn_block">

                <a class="nav-link dark_btn" href="{% url 'payments:login' %}">Get Started</a>
                                <div class="btn_bottom"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- navigation end -->
        </div>
        <!-- container end -->
    </header>
</div>


<div class="page_wrapper">

    <!-- Banner-Section-Start -->
    <section class="banner_section" id="home">

        <div class='ripple-background'>
            <div class='circle xxlarge shade1'></div>
            <div class='circle xlarge shade2'></div>
            <div class='circle large shade3'></div>
            <div class='circle mediun shade4'></div>
            <div class='circle small shade5'></div>
        </div>

        <!-- container start -->
        <div class="container">
            <!-- row start -->
            <div class="row">
                <div class="col-lg-6 col-md-12" data-aos="fade-up" data-aos-duration="1500">
                    <!-- banner text -->
                    <div class="banner_text">
                        <h1>Welcome to SwayPesa <span><br />Accepting Mobile Payments in East Africa</span></h1>
                        <p>
                            At SwayPesa, we are dedicated to making your shopping experience seamless and convenient. As a leading provider of your products/services in East Africa, we are proud to offer you the ease and efficiency of mobile payments.
                        </p>
                    </div>

                    <!-- users -->
                    <div class="used_app mt-5"></div>

                    <!-- app buttons -->
                    <ul class="app_btn">
                        <li>
                            <a href="#">
                                <img class="blue_img" src="{% static 'theme/images/googleplay.png' %}" alt="image">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img class="blue_img" src="{% static 'theme/images/appstorebtn.png' %}" alt="image">
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- banner slides start -->
                <div class="col-lg-6 col-md-12">
                    <div class="banner_slider">
                        <div class="left_icon">
                            <img src="{% static 'theme/images/smallStar.png' %}" alt="image">
                        </div>
                        <div class="right_icon">
                            <img src="{% static 'theme/images/bigstar.png' %}" alt="image">
                        </div>
                        <div id="frmae_slider" class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="slider_img">
                                    <img src="{% static 'theme/images/bannerScreen.png' %}" alt="image">
                                </div>
                            </div>
                            <div class="item">
                                <div class="slider_img">
                                    <img src="{% static 'theme/images/bannerScreen2.png' %}" alt="image">
                                </div>
                            </div>
                            <div class="item">
                                <div class="slider_img">
                                    <img src="{% static 'theme/images/bannerScreen3.png' %}" alt="image">
                                </div>
                            </div>
                        </div>
                        <div class="slider_frame">
                            <img src="{% static 'theme/images/iphonescren.png' %}" alt="image">
                        </div>
                    </div>
                </div>
                <!-- banner slides end -->

            </div>
            <!-- row end -->
        </div>
        <!-- container end -->
    </section>
    <!-- Banner-Section-end -->

    <!-- Our Client -->
    <section class="row_am our_client">
        <div class="container">
            <div class="section_title">
                <h2>
                    <span class="">3500+ companies</span>
                    using our application
                </h2>
            </div>
            <!-- Our Client List -->
            <ul class="client_list">
                <li>
                    <div class="client_logo" data-aos="fade-up" data-aos-duration="1500">
                        <img src="{% static 'theme/images/clients/tapwater.png' %}" alt="TapWater">
                    </div>
                </li>
                <li>
                    <div class="client_logo" data-aos="fade-up" data-aos-duration="1500">
                        <img src="{% static 'theme/images/clients/multmara.png' %}" alt="MultMara">
                    </div>
                </li>
                <li>
                    <div class="client_logo" data-aos="fade-up" data-aos-duration="1500">
                        <img src="{% static 'theme/images/clients/fesam.png' %}" alt="FesamSolutions">
                    </div>
                </li>
            </ul>
        </div>
    </section>

</div>

<!-- Key Feature Section Start -->
<section class="key_feature_section row_am" id="features">
    <div class="key_innner">
        <div class="container">

            <div class="section_title">
                <span class="title_badge">Key Feature</span>
                <h2>Powerful features</h2>
            </div>
            <div id="feature_slider" class="owl-carousel owl-theme" data-aos="fade-up" data-aos-duration="1500">
                <div class="item">
                    <div class="feature_box">
                        <h3>Custom analytics</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typing industry lorem Ipsum has.</p>
                        <div class="img">
                            <img src="{% static 'theme/images/keyftr1.png' %}" alt="image">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="feature_box">
                        <h3>Team management</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typing industry lorem Ipsum has.</p>
                        <div class="img">
                            <img src="{% static 'theme/images/keyftr2.png' %}" alt="image">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="feature_box">
                        <h3>Connect multiple apps</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typing industry lorem Ipsum has.</p>
                        <div class="img">
                            <img src="{% static 'theme/images/keyftr3.png' %}" alt="image">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="feature_box">
                        <h3>Custom analytics</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typing industry lorem Ipsum has.</p>
                        <div class="img">
                            <img src="{% static 'theme/images/keyftr1.png' %}" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Key Feature Section End -->

<!-- Page Wrapper -->
<div class="page_wrapper">

    <!-- About Us Start -->
    <section class="about_section row_am" id="about">
        <div class="container">
            <div class="section_title" data-aos="fade-up" data-aos-duration="1500">
                <span class="title_badge mb-1">About us</span>
                <h2>Application with the best <img src="{% static 'theme/images/mobileicon.png' %}" alt="image"> user <br>
                    interface convert <span><img src="{% static 'theme/images/usericon.png' %}" alt="image"> visitor</span> into <span><img src="{% static 'theme/images/magnet.png' %}" alt="image"> leads</span></h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <ul class="app_statstic" id="counter" data-aos="fade-in" data-aos-duration="1500">
                        <li data-aos="fade-up" data-aos-duration="1500">
                            <div class="text">
                                <p><span class="counter-value" data-count="17">0</span><span>M+</span></p>
                                <p>Download</p>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-duration="1500">
                            <div class="text">
                                <p><span class="counter-value" data-count="2300">1500</span><span>+</span></p>
                                <p>Reviews</p>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-duration="1500">
                            <div class="text">
                                <p><span class="counter-value" data-count="150">0</span><span>+</span></p>
                                <p>Countries</p>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-duration="1500">
                            <div class="text">
                                <p><span class="counter-value" data-count="08">0 </span><span>M+</span></p>
                                <p>Followers</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="abtImg text-center" data-aos="fade-up" data-aos-duration="1500">
                        <img src="{% static 'theme/images/appscreen.png' %}" alt="image">
                    </div>
                </div>
                <div class="col-lg-4">
                    <p data-aos="fade-up" data-aos-duration="1500">Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry lorem Ipsum has been the
                        industrys standard dummy text ever since when an unknown
                        printer took a galley of type and scrambled
                        it to make a type specimen book.</p>
                    <div class="video_block" data-aos="fade-up" data-aos-duration="1500">
                        <img class="thumbnil" src="{% static 'theme/images/applicationvideothumb.png' %}" alt="image">
                        <div class="playBtn">
                            <a href="#" class="popup-youtube play-button play_icon"
                               data-url="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1&mute=1" data-toggle="modal" data-target="#myModal" title="XJj2PbenIsU"><img src="{% static 'theme/images/play_white.svg' %}" alt="img"></a>
                            <img class="spin_text" src="{% static 'theme/images/playvideotext.png' %}" alt="image">
                        </div>
                    </div>
                    <div class="btn_block" data-aos="fade-up" data-aos-duration="1500">
                        <a href="#" class="btn puprple_btn ml-0">START FREE TRIAL</a>
                        <div class="btn_bottom"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us End -->
</div>

<!-- How It Works Section Starts -->
<section class="how_it_section">
    <div class="how_it_inner" data-aos="fade-in" data-aos-duration="1500">
        <div class="container">
            <div class="section_title" data-aos="fade-up" data-aos-duration="1500">
                <span class="title_badge">Quick & easy</span>
                <h2>How it works in 3 steps</h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="steps_block step_border" data-aos="fade-up" data-aos-duration="1500">
                        <div class="steps">
                            <div class="icon">
                                <img src="{% static 'theme/images/howstep1.png' %}" alt="image">
                            </div>
                            <div class="text">
                                <h3>Select Your Items</h3>
                                <p>Browse product or services and add them to your cart.</p>
                            </div>
                        </div>
                        <span class="step">01</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="steps_block step_border" data-aos="fade-up" data-aos-duration="1500">
                        <div class="steps">
                            <div class="icon">
                                <img src="{% static 'theme/images/howstep2.png' %}" alt="image">
                            </div>
                            <div class="text">
                                <h3>Choose Mobile Payment</h3>
                                <p>At checkout, select your preferred mobile money service.</p>
                            </div>
                        </div>
                        <span class="step">02</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="steps_block" data-aos="fade-up" data-aos-duration="1500">
                        <div class="steps">
                            <div class="icon">
                                <img src="{% static 'theme/images/howstep3.png' %}" alt="image">
                            </div>
                            <div class="text">
                                <h3>Complete Payment</h3>
                                <p>Follow the simple prompts to complete your payment.</p>
                            </div>
                        </div>
                        <span class="step">03</span>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <div class="btn_block">
                    <a href="#" class="btn puprple_btn ml-0">Get started now</a>
                    <div class="btn_bottom"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- How It Works Section End -->

<!-- Wrapper End -->

<!-- Page Wrapper -->
<div class="page_wrapper">

    <!-- Beautifully-interface-Section start -->
    <section class="row_am interface_section">
        <!-- container start -->
        <div class="container-fluid">
            <div class="section_title" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">
                <span class="title_badge">App screens</span>
                <h2>Userfriendly <span>interface</span> design</h2>
            </div>

            <!-- screen slider start -->
            <div class="screen_slider" data-aos="fade-up" data-aos-duration="1500">
                <div id="screen_slider" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="screen_frame_img">
                            <img src="{% static 'theme/images/intrscrn1.png' %}" alt="image">
                        </div>
                    </div>
                    <div class="item">
                        <div class="screen_frame_img">
                            <img src="{% static 'theme/images/intrscrn2.png' %}" alt="image">
                        </div>
                    </div>
                    <div class="item">
                        <div class="screen_frame_img">
                            <img src="{% static 'theme/images/intrscrn3.png' %}" alt="image">
                        </div>
                    </div>
                    <div class="item">
                        <div class="screen_frame_img">
                            <img src="{% static 'theme/images/intrscrn4.png' %}" alt="image">
                        </div>
                    </div>
                    <div class="item">
                        <div class="screen_frame_img">
                            <img src="{% static 'theme/images/intrscrn5.png' %}" alt="image">
                        </div>
                    </div>
                    <div class="item">
                        <div class="screen_frame_img">
                            <img src="{% static 'theme/images/intrscrn2.png' %}" alt="image">
                        </div>
                    </div>
                </div>
            </div>
            <!-- screen slider end -->
        </div>
        <!-- container end -->
    </section>
    <!-- Beautifully-interface-Section end -->
</div>


<!-- Page-wrapper-Start -->
<div class="page_wrapper">

    <!-- Contact Us Section Start -->
    <section class="contact_section" id="contact">
        <div class="container">
            <div class="section_title" data-aos="fade-up" data-aos-duration="1500">
                <span class="title_badge">Contact us</span>
                <h2>Any query ? <span>let's talk</span></h2>
            </div>
            <ul class="contact_listing">
                <li data-aos="fade-up" data-aos-duration="1500">
                    <span class="icon">
                        <img src="{% static 'theme/images/mail_icon.png' %}" alt="image">
                    </span>
                    <span class="lable">Email us</span>
                    <a href="www.florencesway@gmail.com" class="text-decoration-none">www.florencesway@gmail.com</a>
                </li>
                <li data-aos="fade-up" data-aos-duration="1500" data-aos-delay="150">
                    <span class="icon">
                        <img src="{% static 'theme/images/phone_icon.png' %}" alt="image">
                    </span>
                    <span class="lable">Call us</span>
                    <a href="tel:255684475390" class="text-decoration-none">+255 684 475 390</a>
                </li>
                <li data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">
                    <span class="icon">
                        <img src="{% static 'theme/images/location_icon.png' %}" alt="image">
                    </span>
                    <span class="lable">Our location</span>
                    <a target="_blank" href="https://www.google.com/maps" class="text-decoration-none">Open Google Maps</a>
                </li>
            </ul>
        </div>
    </section>
    <!-- Contact Us Section End -->

</div>

<div class="page_wrapper">
    <!-- Footer-Section start -->
    <footer class="white_text" data-aos="fade-in" data-aos-duration="1500">
        <div class="footer_overlay">
            <img src="{% static 'theme/images/overlay-bg1.svg' %}" alt="img">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="logo_side">
                        <div class="logo">
                            <a href="#">
                                <img src="{% static 'theme/images/ft_logo.png' %}" alt="Logo">
                            </a>
                        </div>
                        <div class="news_letter">
                            <h3>Subscribe newsletter</h3>
                            <p>Be the first to receive all latest posts in your inbox</p>
                            <form>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Enter your email">
                                    <button class="btn"><i class="icofont-paper-plane"></i></button>
                                </div>
                                <p class="note">By clicking send link you agree to receive messages.</p>
                            </form>
                        </div>
                        <ul class="contact_info">
                            <li><a href="www.florencesway@gmail.com">www.florencesway@gmail.com</a></li>
                            <li><a href="tel:+255 684 475 390">+255 684 475 390</a></li>
                        </ul>
                        <ul class="social_media">
                            <li><a href="#"><i class="icofont-facebook"></i></a></li>
                            <li><a href="#"><i class="icofont-twitter"></i></a></li>
                            <li><a href="#"><i class="icofont-instagram"></i></a></li>
                            <li><a href="#"><i class="icofont-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="download_side">
                        <h3>Download app</h3>
                        <ul class="app_btn">
                            <li>
                                <a href="#">
                                    <img class="blue_img" src="{% static 'theme/images/googleplay.png' %}" alt="image">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="blue_img" src="{% static 'theme/images/appstorebtn.png' %}" alt="image">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="container">
                <div class="ft_inner">
                    <div class="copy_text">
                        <p>© Copyrights Tap-Pesa 2024. All rights reserved.</p>
                    </div>
                    <ul class="links">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About us</a></li>
                        <li><a href="/contact">Contact us</a></li>
                    </ul>
                    <div class="design_by">
                        <p>Crafted by <a href="https://fesam.co.tz" target="_blank">Fesam</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer-Section end -->

    <!-- go top button -->
    <div class="go_top" id="Gotop">
        <span><i class="icofont-arrow-up"></i></span>
    </div>

    <!-- Video Modal Start -->
    <div class="modal fade youtube-video" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button id="close-video" type="button" class="button btn btn-default text-right" data-dismiss="modal">
                    <i class="icofont-close-line-circled"></i>
                </button>
                <div class="modal-body">
                    <div id="video-container" class="video-container">
                        <iframe id="youtubevideo" width="640" height="360" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <!-- Video Modal End -->
</div>
<!-- Page-wrapper-End -->

<!-- Jquery-js-Link -->
<script src="{% static 'theme/js/jquery.js' %}"></script>
<!-- owl-js-Link -->
<script src="{% static 'theme/js/owl.carousel.min.js' %}"></script>
<!-- bootstrap-js-Link -->
<script src="{% static 'theme/js/bootstrap.min.js' %}"></script>
<!-- aos-js-Link -->
<script src="{% static 'theme/js/aos.js' %}"></script>
<!-- Typed Js Cdn -->
<script src="{% static 'theme/js/typed.min.js' %}"></script>
<!-- main-js-Link -->
<script src="{% static 'theme/js/main.js' %}"></script>

<script>
    $("#typed").typed({
        strings: ["Type Writing Text", "Auto Type Text", "Add any text you like here."],
        typeSpeed: 100,
        startDelay: 0,
        backSpeed: 60,
        backDelay: 2000,
        loop: true,
        cursorChar: "|",
        contentType: 'html'
    });

    // Fixed Discount Dish JS
    $(document).ready(function () {
        let cardBlock = document.querySelectorAll('.task_block');
        let topStyle = 120;

        cardBlock.forEach((card) => {
            card.style.top = `${topStyle}px`;
            topStyle += 30;
        });
    });

    // Scroll Down Window
    $(document).ready(function () {
        // Attach a click event handler to the button
        $('#scrollButton').click(function () {
            // Scroll down smoothly 600 pixels from the current position
            $('html, body').animate({ scrollTop: $(window).scrollTop() + 600 }, 800); // Adjust the speed (800ms) as needed
        });
    });
</script>
<script src="{% static 'assets/3ab5d7d3/jquery.js' %}"></script>
<script src="{% static 'assets/1864cd24/yii.js' %}"></script>
</body>
</html>

